body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  top: 3%;
  left: 40%;
  display: flex;
  margin-left: 200px;
  align-items: center;
  margin-top: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.google {
  height: 30px;
  width: 90px;
  padding: 30px;
  margin-left: 50px;
}

.mic,
.magnify,
.line,
.letter {
  height: 28px;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

.letter,
.magnify {
  width: 18px;
  height: 18px;
}

.letter,
.line {
  margin-right: 5px;
}

.letter, .magnify {
  height: 18px;
  width: 18px;
  padding-top: 5px;
}

.search-box {
  border-radius: 50px;
  background: white;
  border: 1px solid lightgray;
}

form {
  margin: 0;
  width: 500px;
  margin-left: 10px;
}

input {
  border: none;
  margin: 10px 5px 10px 0px;
  font-size: 16px;
}
